.VerticalCenter
{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.big
{
    font-size: 80px;
}
.orange
{
    color: #f78702;
}