.MainContainer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b5675+0,357388+100 */
    background: #1b5675;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1b5675 0%, #357388 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1b5675 0%, #357388 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1b5675 0%, #357388 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5675', endColorstr='#357388', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}